body {
  margin: 0;
}

main h2 {
  text-align: center;
  margin: 15px 0 0;
}

.playlist {
  background-color: lightblue;
  padding: 10px;
  margin: 5px;
}

.activity {
  background-color: lightcoral;
  padding: 10px;
  margin: 5px;
}