body {
    margin: 0;
}

main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height:80vh;
}

main h2 {
    text-align: center;
}

.playlist {
    background-color: lightblue;
    padding: 10px;
}

.activity {
    background-color: lightcoral;
    padding: 5px;
}